<div class="main-content">
    <div class="grid-row">
        <div class="grid-col-12">
            <div class="grid-row">
                <div class="desktop:grid-col-2 tablet:grid-col-3 mobile-lg:grid-col-12"
                    style="border-right: 4px solid #FAFAFA; ">
                    <nav aria-label="Side navigation,">
                        <ul class="usa-sidenav">
                            <li class="usa-sidenav__item">
                                <a href="/main/employee/view-employee" class="usa-current"><i class="fa fa-list"></i>
                                    &nbsp;Employee List</a>
                            </li>
                            <li class="usa-sidenav__item">
                                <a href="/main/employee/create-employee"><i class="fa fa-user-plus"></i>&nbsp; Add
                                    Employee</a>
                            </li>
                        </ul>
                    </nav>
                </div>