.nav-item {
  text-decoration: none;
  color: #71767a;
  display: block;
  text-align: center;
  padding: 14px 16px;
}

.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-li {
  float: left;
}

nav {
  border-bottom: 2px solid #e9ecef;
}

.current-nav-tem {
  color: #1356b4 !important;
  border-bottom: 3px solid #1356b4;
}

/* b {
  font-size: 18px;
  font-style: oblique;
  color: black;
} */

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.music-report{
  margin: 2px;
  font-size: 18px;
  font-style: oblique;
 text-align: center;
}

.grid-col-12{
  margin-bottom:10px ;
}

@media only screen and (max-width: 600px) {
  .nav-bar {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .nav-ul {
    width: 100%;
    flex-direction: column;
  }

  .nav-li {
    width: 100%;
    text-align: center;
    margin: 5px 0;
  }
}