<div class="grid-container">
    <div class="desktop:grid-col-12 grid-row">
        <div class="grid-col-12">
            <nav class="nav-bar">
                <ul class="nav-ul display-flex flex-row flex-align-center">
                    <li class="nav-li"><a class="nav-item" routerLink="/home">About</a>
                    </li>
                    <li class="nav-li">
                        <a class="nav-item current-nav-tem" routerLink="/components/news">News</a>
                    </li>
                    <li class="nav-li">
                        <a class="nav-item" routerLink="/components/contact">Contact</a>
                    </li>
                    <!-- <li class="nav-li">
                        <a class="nav-item" routerLink="/components/about">About</a>
                    </li> -->
                </ul>
            </nav>
            <div class="part-one">
                <nav class="nav-bar">
                    <ul class="nav-ul display-flex flex-row flex-align-center">
                        <li class="nav-li"><a class="nav-item" routerLink="/components/news">Overview</a>
                        </li>
                        <li class="nav-li">
                            <a class="nav-item current-nav-tem" routerLink="/components/latest-news">Latest News on
                                Music</a>
                        </li>
                    </ul>
                </nav>
            </div>
            </div>
            <!-- <div class="grid-col-4 part-two">
                giu
            </div> -->
        </div>
    </div>